/* contoh direct descendant, dimana selector yg kita ingin ubah berada di dalam / dibungkus di dalam suatu elemen lainnya. */
.jokes > p {
    font-size: 14px;
    color: royalblue;
}

/* contoh adjacent selector, dimana seletor yg kita ingin ubah ada setelah suatu elemen seperti dibawah.

Cara baca selector dibawah:
css tolong ubah elemen button yang ada setelah tag a saja. 

Itu kenapa button lain yang ada diatasnya tag p tidak ikut berubah.
*/
a + button {
    background-color: salmon;
}

/* contoh penggunaan selector pada input dengan type yg berbeda */
input[type="search"], input[type="password"] {
    color: salmon;
   }

button[type="submit"] {
    background-color: lightskyblue;
}

/* contoh penggunaan pseudo-classes */
.jokes > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

section button:hover {
    background-color: salmon;
}

section:nth-of-type(2n) {
    background-color: azure;
}