/* contoh direct descendant, dimana selector yg kita ingin ubah berada di dalam / dibungkus di dalam suatu elemen lainnya. */
.jokes > p {
    font-size: 14px;
    color: royalblue;
}

/* contoh adjacent selector, dimana seletor yg kita ingin ubah ada setelah suatu elemen seperti dibawah.

Cara baca selector dibawah:
css tolong ubah elemen button yang ada setelah tag a saja. 

Itu kenapa button lain yang ada diatasnya tag p tidak ikut berubah.
*/
a + button {
    background-color: salmon;
}

/* contoh penggunaan selector pada input dengan type yg berbeda */
input[type="search"], input[type="password"] {
    color: salmon;
   }

button[type="submit"] {
    background-color: lightskyblue;
}

/* contoh penggunaan pseudo-classes */
.jokes > p:hover {
    cursor: pointer;
    text-decoration: underline;
}

section button:hover {
    background-color: salmon;
}

section:nth-of-type(2n) {
    background-color: azure;
}

/* pseudo-elements adalah kata kunci yg ditambahkan pada selector untuk memilih bagian element yg ingin dipilih. Berikut beberapa contoh pseudo-elements:
1. ::after, memberikan suatu isi / konten tambahan SETELAH suatu elemen.

2. ::before, memberikan suatu isi / konten tambahan SEBELUM suatu elemen.

3. ::first-letter, mengubah kata / huruf pertama pada kalimat.

4. ::first-line, mengubah baris pertama yg ada di display laptop / gadget kita.

5. ::selection

*/
/* contoh penggunaan pseudo-elements */
section h3::first-letter {
    font-size: xx-large;
}

section p::first-line {
    color: salmon;
}

section h3::after {
    content: '*';
}

section h3::before {
    content: '*';
}