body {
    font-family: 'Calibri', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    color: salmon;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul {
    flex-grow: 1;
    max-width: 50%;
    justify-content: space-evenly;
}

ul, li {
    display: flex;
    margin: 0;
    padding: 0;
}

/* media query */

/* @media ( width:500px ) {
    h1 {
        color: aqua;
    }
} */
/* ketika lebar layar browser 500px maka h1 dengan color aqua akan diimplementasikan sehingga warna h1 akan berubah. */

/* @media screen and ( min-width:600px ) {
    h1 {
        color: deepskyblue;
        font-size: 20px;
    }
}

@media screen and ( min-width:800px ) {
    h1 {
        color: turquoise;
        font-size: 35px;
    }
}

@media screen and ( min-width: 900px) and (max-width: 1000px) {
    h1 {
        color: salmon;
        font-size: 4em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: white;
    }
    h1 {
        color: dodgerblue;
        font-size: 50px;
    }
}

@media ( orientation: landscape ) {
    body {
        background-color: blanchedalmond;
    }
} */

@media ( max-width: 768px ) {
    h1 {
        font-size: 4em;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
    }
}

@media ( max-width: 576px ) {
    h1 {
        font-size: 2em;
    }
}