body {
    font-family: 'Calibri', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    color: salmon;
}

nav {
    font-size: 1.5em;
}

ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}

/* media query */

/* @media ( width:500px ) {
    h1 {
        color: aqua;
    }
} */
/* ketika lebar layar browser 500px maka h1 dengan color aqua akan diimplementasikan sehingga warna h1 akan berubah. */

@media screen and ( min-width:600px ) {
    h1 {
        color: deepskyblue;
        font-size: 20px;
    }
}

@media screen and ( min-width:800px ) {
    h1 {
        color: turquoise;
        font-size: 35px;
    }
}

@media screen and ( min-width: 900px) and (max-width: 1000px) {
    h1 {
        color: salmon;
        font-size: 4em;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: white;
    }
    h1 {
        color: dodgerblue;
        font-size: 50px;
    }
}

@media ( orientation: landscape ) {
    body {
        background-color: blanchedalmond;
    }
}