body {
    font-family: 'Calibri', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
    color: salmon;
}

nav {
    font-size: 1.5em;
}

ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}