h1 {
    background-color: salmon;
    border: 5px solid black;
    width: 500px;
    padding: 10px;
    margin: 50px;
    display: inline-block;
}

span {
    background-color: orangered;
    border: 5px solid black;
    width: 500px;
    padding: 10px;
    margin: 50px;
}