/* contoh penggunaan external style */
h3 {
    color: lawngreen;
    font-size: 40px;
}

button {
    color: rgb(128, 0, 0);
    background-color: rgb(255, 248, 220);
}

p {
    color: white;
    background-color: grey;
}