h1 {
    text-align: center;
    font-weight: 900;
    text-decoration: underline overline dotted salmon;
    font-size: 100px;
}

p {
    line-height: 1.5;
    letter-spacing: -1px;
}

a {
    text-decoration: none;
    color: black;
}

/* font-weight: lighter or bolder, akan mengikuti ketebalan dari font-family yg dipakai */

/* ukuran font pada css:
- Relative:
em
rem
vh
vw
%
dll


- Absolute:
px
pt
cm
in
mm

*/